h1 {
	text-align: center;
	color: #FDB515;
	font-size: 40px;
}

#bottom_header {
	text-align: center;
	color: #FDB515;
	font-size: 40px;
}

p {
	text-align: center;
	vertical-align: center;
	color: #FDB515;
	font-size: 20px;
}

li {
	text-align: center;
	vertical-align: center;
	color: #FDB515
}

ul {
	text-align: center;
	padding: 50px 0;
	list-style-position: inside;
	vertical-align: center;
	color: #FDB515;
}
body {  
	background-color: #003262;
	

}

label {
	font-size: 2rem;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

#submit {

background: #0066A2;

color: white;

border-style: outset;

border-color: #0066A2;

height: 50px;

width: 100px;

font: bold 15px arial, sans-serif;

text-shadow:none;

}

#left {
  position: fixed;
  top: 1%;
  left: 5%;
  width: 300px;
  
}

#right {
  position: fixed;
  top: 1%;
  right: 5%;
  width: 300px;
  
}
.footer {
	color: #FDB515;
}

form {
	vertical-align: center;
}
