body {
	background-color: #003262;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 90%;
	min-height: 100vh;
	background: #ffffff;
}
.row {
	width: 100%;
	min-height: 100vh;
}
.left-col {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	.nav {
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		li {
			list-style-type: none;
			padding-bottom: 0.5rem;
			font-size: 20px;
			a {
				color: #0066a2;
			}
			.selected {
				color: #fdb515;
			}
		}
	}
}

.right-col {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 5% 5rem 5%;
	border-left: 2px solid #0066a2;
	h1 {
		color: #fdb515;
		font-size: 46px;
		margin-bottom: 2rem;
	}

	h2 {
		margin-bottom: 2.5rem;
	}

	p {
		font-size: 17px;
	}

	hr {
		border-top: 1px solid #0066a2;
		margin: 2.5rem 0;
	}

	.form-label {
		font-size: 24px;
		margin-right: 10%;
		color: #003262;
	}
	.candidate-img {
		max-width: 100px;
		max-height: 100px;
		margin-bottom: 1.5rem;
		margin-top: 1rem;
	}
}

.voter-info {
	display: flex;
	align-items: center;
	.form-label {
		min-width: 30%;
	}
}

.vote-btn {
	width: 40%;
	margin-top: 2rem;
	background-color: #fdb515;
	border: none;
	border-radius: 0.8rem;
	padding: 0.7rem 2.5rem;
	font-size: 20px;
	font-family: 'Rubik', sans-serif;
	&:hover {
		background-color: #0066a2;
	}
}

button.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
